<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
	<key>ELEVENLABS_API_KEY</key>
	<string>sk_6c648dafbb2c0cac5b8bd116943089e33c0539aaae00b1d0</string>
	<key>MARCUS_AGENT_ID</key>
	<string>agent_5801kpegxkhseeyrbmmfp3sy5h0c</string>
</dict>
</plist>
